<h1><%= title %></h1>
<form id="add-inventory-form" method="post" action="/messages/reply/<%= original.id %>">
  <label for="classification_id">Subject:</label><br>
  <input type="text" name="subject" value="Re: <%= original.subject %>" required><br>

  <label for="message_content">Message:</label><br>
  <textarea name="message_content" required rows="6" cols="50"></textarea><br>

  <button type="submit" class="submit-button">Send</button>
</form>