<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy <%= year %>, CSE 340 App - Cristian Navia</p>
  <p>Assignment 3 <a href="/inv/detail/99">Error link</a></p>
</footer>